<div *ngFor="let image of images"  class="completo">
    <div class="desaparecido">
        <img src="../../../assets/Foto desaparecida.svg" alt="">
    </div>
    <div class="infos">
        <h3>{{ image.nome }}</h3>
        <p>Cidade Natal: {{ image.cidade }} </p>
        <p>Data de nascimento: {{ image.data_nasc }}</p>
    </div>
    
</div>

<!-- <div class="feed">
    <div *ngFor="let image of images" class="card">
      <div class="completo">
        <div class="desaparecido">
          <img src="../../../assets/Foto desaparecida.svg" alt="">
        </div>
        <div class="infos">
          <h3>{{ image.nome }}</h3>
          <p>{{ image.cidade }} </p>
          <p>Data de nascimento: {{ image.data_nasc }}</p>
        </div>
      </div>
    </div>
  </div> -->
  