<div class="body">

    <app-header></app-header>

<div class="container">
    
    <div class="login">
        <h2>LOGIN</h2>
        <input class="field1" type="text" placeholder="E-mail" value="">
        <input class="field1" type="text" placeholder="Senha" value="">
    </div>
    <div class="divisao">

    </div>
    <div class="cadastrar">
        <h2>CADASTRAR</h2>
        <input class="field2" type="text" placeholder="Nome" value="">
        <input class="field2" type="text" placeholder="E-mail" value="">
        <input class="field2" type="text" placeholder="Telefone" value="">
        <input class="field2" type="text" placeholder="Endereço" value="">
        <input class="field2" type="text" placeholder="CPF" value="">
        <input class="field2" type="text" placeholder="Senha" value="">
       
    </div>
</div>

<app-footer></app-footer>

</div>



