<div class="body">

    <app-header></app-header>

    <div class="cadastro-img">

        <img class="foto" src="../../assets/foto-pessoa.svg" alt="">

        <div class="cadastrar">

            <form>

                <h3>Nome do Desaparecido</h3>

                <div class="inputs">

                    <input class="field1" type="text" placeholder="Descrição física com o máximo de informações"
                        value="">

                    <input class="field2" type="text" placeholder="Local aproximado do desaparecimento:" value="">

                    <input class="field2" type="text" placeholder="Data aproximada do desaparecimento:" value="">

                </div>

            </form>
            
            <div class="btn">

                <button type="button" class="add">CADASTRAR</button>

            </div>
        </div>

    </div>

    <app-footer></app-footer>

</div>