<!-- <header>
<div class="navbar">
        <img class="logo1" src="../../assets/logonome 1.svg" alt="">

        
        <div class="form-busca">
                <form action="">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input name="busca" type="text" placeholder="Busca..."/>
        <!-- <mat-icon>account_circle</mat-icon> -->
       <!-- </form>
    <i class="fa fa-user fa-fw"></i> 
</div> --> 

<header>
    <div class="container">
        <div class="logo">
          <img src="../../assets/logonome 1.svg" alt="">
        </div>

        <nav>
            <ul>
                <li> <i class="fi-fi-br-search"></i> <input name="busca" type="text" placeholder="Busca..."/></li>
                <li><a href="#"> <i class="fi fi-bs-user"></i> </a></li>                   
                <li><a href="#"> <i class="fi fi-br-menu-burger"></i> </a></li>
            </ul>
        </nav>
    </div>
</header>