header{
    margin-bottom: 37px;
}

header .container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d1d1d1;
}

header .container nav{
    display: flex;
    align-items: center;
    gap: 32px;
    padding-right: 30px;
}

header .container .logo{
    /* max-width: 100%; 
    width: 30%; */
    padding-top: 15px;
    cursor: pointer;
}

header .container nav ul{
    display: flex;
    align-items: center;
    gap: 32px;
}

header .container nav ul li{
    list-style: none;
}

header .container nav ul a{
    color: black;
    transition: color .3s;
    font-size: 5vh;
    text-decoration: none;
}

input{
    background-color: #d1d1d1;
    padding-left: 40px;
    height: 45px; 
    /* border: 0; */
    font-size: 20px;
    color: black;
    border-radius: 10px;
    border-color: #d1d1d1;
    margin-left: 18px;
}

.fi-fi-br-search{
    position: absolute;
    padding: 35px 5px 25px 50px;
    color: black;
    font-size: 30px;
}

::placeholder{
    color: black;
    opacity: 1;
}