<div class="navbar">
    <div class="iconeesquerdo">
        <a href="#"><span class="material-symbols-outlined">
            menu
            </span></a>
        <img class="logo1" src="../../assets/logonome 1.svg" alt="">
        </div>
        
        <div class="iconedireito">
            <a href="#"><span class="material-symbols-outlined">
                search
                </span></a>
            <a href="#"><span class="material-symbols-outlined">
                person
                </span></a>
        </div>
        
</div>