<footer>
    <div class="barrainferior">

        <div><img src="../../assets/logo-nome.svg" alt="logo BeFound" class="logo"></div>
    <div class="miolo">
        <div class="institucional">
            <p>Institucional</p>
            <a class="barra1" href="#">About Us</a>
            <a class="barra1" href="#">Equipe</a>
        </div>

        <div class="divisao-linha">
          
        </div>

        <div class="suporte">
            <p>Suporte</p>
            <a class="barra2" href="#">Fale Conosco</a>
            <a class="barra2" href="#">FaQ</a>
        </div>
    </div>

    </div>


    <div class="telutil">

        <a href="#">Polícia Militar:190</a>
        <a href="#">Bombeiros: 193</a>
        <a href="#">Polícia Civil: 197</a>
        <a href="#">Disque Denpuncia: 181</a>

    </div>
<div class="copy">
    <p>Copyright © 2023 </p>
    <p>Be Found</p>
</div>

</footer>